<style>
  :root {
    --width: 720px;
    --font-main: Verdana, sans-serif;
    --font-secondary: Verdana, sans-serif;
    --font-scale: 1em;
    --background-color: #faf4ed;
    --heading-color: #b4637a;
    --text-color: #575279;
    --link-color: #3273dc;
    --visited-color: #8b6fcb;
    --code-background-color: #f2f2f2;
    --code-color: #222;
    --blockquote-color: #222;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #191724;
      --heading-color: #c4a7e7;
      --text-color: #ddd;
      --link-color: #8cc2dd;
      --visited-color: #8b6fcb;
      --code-background-color: #777;
      --code-color: #ddd;
      --blockquote-color: #ccc;
      --bold-color: #eee;
    }
  }

  p.pnav {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
    display: inline;
  }

  p#email {
    color: var(--bold-color);
    text-decoration: none;
    display: inline;
  }

  p,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
  }
  h3,
  h4,
  h5,
  h6 {
    color: var(--bold-color);
  }

  strong,
  b {
    color: var(--bold-color);
  }

  blockquote {
    color: var(--blockquote-color);
  }

  .footer {
    font-size: 0.8em;
  }
</style>
