<style>
  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #191724;
      --heading-color: #ebbcba;
      --text-color: #e0def4;
      --link-color: #c4a7e7;
      --visited-color: #8b6fcb;
      --code-background-color: #26233a;
      --code-color: #eb6f92;
      --blockquote-color: #ccc;
      --bold-color: #f6c177;
    }
  }

  p.pnav {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
    display: inline;
  }

  p#email {
    color: var(--bold-color);
    text-decoration: none;
    display: inline;
  }

  p,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
  }

  strong,
  b {
    color: var(--bold-color);
  }
</style>
